* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0d0f11;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  min-height: 100vh;
  background-color: #0d0f11;
}

/*Header*/

header {
  height: 65px;
  background-color: #17181d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
}

.menu {
  position: absolute;
  right: 16px;
  top: 13px;
  color: #777;
  font-size: 18px;
}
